@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }

.sidebar { background-color: #1F1F1F; width: 193px; height: 100vh; position: fixed; color: #7F7F7F; }

.sidebar .nav-logo { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 14px 20px; }

.sidebar .nav-logo i { font-size: 20px; padding-left: 45px; color: #7F7F7F; }

.sidebar ul { font-size: 15px; list-style-type: none; }

.sidebar ul li { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 12px 20px; transition: 0.4s; }

.sidebar ul li:hover { border-left: 6px solid #FF7D2D; background-color: #2C2C2C; }

.sidebar ul li:hover a { color: white; }

.sidebar ul li:hover img { filter: invert(100%); }

.sidebar ul li img { height: 17px; width: 17px; filter: invert(50%); }

.sidebar ul li a { text-decoration: none; color: #7F7F7F; display: block; padding-left: 10px; }

.sidebar .line { border: 0.5px solid #7F7F7F; opacity: 0.2; margin-top: 25px; }

.sidebar .contacts { padding: 25px 20px; font-size: 14px; }

.sidebar .contacts h4 { text-transform: uppercase; padding-bottom: 10px; }

.sidebar .contacts .contact-manager { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.sidebar .contacts .contact-manager p { padding-left: 10px; cursor: pointer; transition: 0.3s; }

.sidebar .contacts .contact-manager p:hover { color: #49718A; }
