@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }

/*sidebar*/
.sidebar { background-color: #1F1F1F; width: 193px; height: 100vh; position: fixed; color: #7F7F7F; }

.sidebar .nav-logo { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 14px 20px; }

.sidebar .nav-logo i { font-size: 20px; padding-left: 45px; color: #7F7F7F; }

.sidebar ul { font-size: 15px; list-style-type: none; }

.sidebar ul li { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 12px 20px; transition: 0.4s; }

.sidebar ul li:hover { border-left: 6px solid #FF7D2D; background-color: #2C2C2C; }

.sidebar ul li:hover a { color: white; }

.sidebar ul li:hover img { filter: invert(100%); }

.sidebar ul li img { height: 17px; width: 17px; filter: invert(50%); }

.sidebar ul li a { text-decoration: none; color: #7F7F7F; display: block; padding-left: 10px; }

.sidebar .line { border: 0.5px solid #7F7F7F; opacity: 0.2; margin-top: 25px; }

.sidebar .contacts { padding: 25px 20px; font-size: 14px; }

.sidebar .contacts h4 { text-transform: uppercase; padding-bottom: 10px; }

.sidebar .contacts .contact-manager { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.sidebar .contacts .contact-manager p { padding-left: 10px; cursor: pointer; transition: 0.3s; }

.sidebar .contacts .contact-manager p:hover { color: #49718A; }

/*top bar*/
.top-bar { margin-left: 193px; display: -ms-flexbox; display: flex; border-bottom: 0.5px solid #E3E3E3; }

.top-bar img { height: 18px; width: 18px; filter: invert(50%); }

.top-bar .funds { margin-left: 697px; width: 185px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; border-left: 0.5px solid #E3E3E3; color: #9B9B9B; padding: 16px; }

.top-bar .funds p { font-size: 20px; font-weight: bold; padding: 0 15px; }

.top-bar .funds .top-bar-arrow { height: 8px; }

.top-bar .notification { border-left: 0.5px solid #E3E3E3; padding: 19px; }

.top-bar .profile { border-left: 0.5px solid #E3E3E3; padding: 16px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.top-bar .profile p { font-size: 13px; color: #49718A; padding: 0 0 0 15px; }

.top-bar .quit { border-left: 0.5px solid #E3E3E3; padding: 20px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }
