.quit-modal {
	width: 360px;
	.close-btn {
		display: none;
	}
	.quit-modal-content {
		.question-paragraph {
			padding: 25px 20px;
			p {
				color: $main-text-color;
				font-size: 17px;
			}
		}
		.quit-modal-buttons {
			border-top: 0.5px solid $border-color;
			padding: 20px;
			overflow: auto;
			.cancel-btn {
				text-align: center;
				float: right;
				width: 100px;
				border-radius: 3px;
				background-color: #969696;
				color: white;
				font-size: 18px;
				padding: 10px;
				transition: 0.4s;
				cursor: pointer;
				&:hover {
					background-color: #BABABA;
				}
			}
			.quit-btn {
				text-align: center;
				float: right;
				width: 100px;
				border-radius: 3px;
				background-color: $btn-color;
				color: white;
				font-size: 18px;
				padding: 10px;
				margin-left: 20px;
				transition: 0.4s;
				cursor: pointer;
				&:hover {
					background-color: $btn-hover-color;
				}
			}
		}
	}
}