/* Fonts */
$main-font: 'Roboto', sans-serif;

/* Fonts sizes */
$heading-font-size: 17px;

/* Fonts weights */
$heading-font-weight: lighter;

/* Colors */
$main-text-color: #9B9B9B;
$paragraph-color: lighten(black, 30);
$section-color: #fff;
$border-color: #E3E3E3;
$btn-color: #FF7D2D;
$btn-hover-color: #FFA200;

