@import 'variables';
@import 'layout';
@import 'normalize';
@import 'components/sidebar';
@import 'components/topbar';
@import 'sections/statistic';
@import 'sections/links';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $main-font;
}

body {
	background-color: #F4F5F2;
}

.main-content {
	position: absolute;
	left: 193px;
	right: 0;
	top: 60px;
}

.section-container {
	margin: 20px;
	overflow: hidden;
	background-color: $section-color;
	box-shadow: 0px 0px 11px 0px #E3E3E3;
}

.scroll-wrapper {
	display: block;
  	width: 100%;
  	overflow-x: auto;
}

@media only screen and (max-width: 767px) {
	.main-content {
		left: 0;
	}
	.section-container {
		margin: 0 !important;
	}
}