@import 'layout';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #F4F5F2;
}

/*sidebar*/

.sidebar {
	background-color: #1F1F1F;
	width: 193px;
	height: 100vh;
	position: fixed;
	color: #7F7F7F;
	.nav-logo {
		display: flex;
		align-items: center;
		padding: 14px 20px;
		i {
			font-size: 20px;
			padding-left: 45px;
			color: #7F7F7F;
		}
	}
	ul {
		font-size: 15px;
		list-style-type: none;
		li {
			display: flex;
			align-items: center;
			padding: 12px 20px;
			transition: 0.4s;
			&:hover {
				border-left: 6px solid #FF7D2D;
				background-color: #2C2C2C;
			}
			&:hover a {
				color: white;
			}
			&:hover img {
				filter: invert(100%);
			}
			img {
				height: 17px;
				width: 17px;
				filter: invert(50%);
			}
			a {
				text-decoration: none;
				color: #7F7F7F;
				display: block;
				padding-left: 10px;
			}
		}
	}
	.line {
		border: 0.5px solid #7F7F7F;
		opacity: 0.2;
		margin-top: 25px;
	}
	.contacts {
		padding: 25px 20px;
		font-size: 14px;
		h4 {
			text-transform: uppercase;
			padding-bottom: 10px;
		}
		.contact-manager {
			display: flex;
			align-items: center;
			p {
				padding-left: 10px;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					color: #49718A;
				}
			}
		}
	}
}

/*top bar*/

.top-bar {
	margin-left: 193px;
	background-color: white;
	display: flex;
	border-bottom: 0.5px solid #E3E3E3;
	img {
		height: 18px;
		width: 18px;
		filter: invert(50%);
	}
	.funds {
		margin-left: 697px;
		width: 185px;
		display: flex;
		align-items: center;
		border-left: 0.5px solid #E3E3E3;
		color: #9B9B9B;
		padding: 16px;
		cursor: pointer;
		transition: 0.4s;
		&:hover {
			background-color: #F5F5F2;
		}
		p {
			font-size: 20px;
			font-weight: bold;
			padding: 0 15px;
		}
		.top-bar-arrow {
			height: 8px;
		}
	}
	.notification {
		border-left: 0.5px solid #E3E3E3;
		padding: 19px;
		cursor: pointer;
		transition: 0.4s;
		&:hover {
			background-color: #F5F5F2;
		}
	}
	.profile {
		border-left: 0.5px solid #E3E3E3;
		padding: 16px;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: 0.4s;
		&:hover {
			background-color: #F5F5F2;
		}
		p {
			font-size: 13px;
			color: #49718A;
			padding: 0 0 0 15px;
		}
	}
	.quit {
		border-left: 0.5px solid #E3E3E3;
		padding: 20px;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: 0.4s;
		&:hover {
			background-color: #F5F5F2;
		}
	}
}

/*general statistic*/

.statistic-container {
	margin-top: 20px;
	margin-left: 212px;
	width: 83%;
	background-color: white;
	box-shadow: 0px 0px 11px 0px #E3E3E3;
	.general-statistic {
		border-bottom: 0.5px solid #E3E3E3;
		h2 {
			text-transform: uppercase;
			font-size: 17px;
			color: #9B9B9B;
			font-weight: lighter;
			padding: 13px;
		}
	}
	.date {
		display: flex;
		justify-content: center;
		padding: 35px;
		border-bottom: 0.5px solid #E3E3E3;
		p {
			font-size: 14px;
			color: lighten(black, 30);
		}
		.date-from {
			border: 1px solid #E3E3E3;
			border-radius: 3px;
			padding: 10px 60px 0 15px;
			cursor: pointer;
			transition: 0.4s;
			&:hover {
				border-color: #B1B1B1;
			}
		}
		.date-to {
			display: flex;
			padding: 0 10px;
			border: 1px solid #E3E3E3;
			border-radius: 3px;
			padding: 10px 10px 0 15px;
			cursor: pointer;
			transition: 0.4s;
			&:hover {
				border-color: #B1B1B1;
			}
			p {
				padding-right: 50px;
			}
			img {
				height: 15px;
				width: 15px;
				filter: invert(50%);
			}		
		}
		.refresh {
			display: flex;
			border-radius: 3px;
			background-color: #FF7D2D;
			padding: 10px;
			margin-left: 15px;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				background-color: #FFA200;
			}
			img {
				height: 18px;
				width: 18px;
				filter: invert(100%);
			}
		}
	}
	.numbers {
		display: flex;
		justify-content: center;
		padding: 20px;
		.row {
			float: left;
		}
		h3 {
			font-size: 17px;
			color: #9B9B9B;
		}
		p {
			color: lighten(black, 30);
			padding-left: 180px;
		}
		.signups {
			display: flex;
			border-bottom: 1px solid #E3E3E3;
			padding: 20px 0 5px 0;
		}
		.ftd {
			display: flex;
			border-bottom: 1px solid #E3E3E3;
			padding: 20px 0 5px 0;
			p {
				padding-left: 250px;
			}
		}
		.deposit {
			display: flex;
			border-bottom: 1px solid #E3E3E3;
			padding: 20px 0 5px 0;
			margin-left: 70px;
		}
		.turn-over {
			display: flex;
			border-bottom: 1px solid #E3E3E3;
			padding: 20px 0 5px 0;
			margin-left: 70px;
			p {
				padding-left: 195px;
			}
		}
	}
	.earnings {
		h2 {
			color: #9B9B9B;
			font-size: 17px;
			padding-left: 230px;
			padding-top: 50px;
			padding-bottom: 30px;
		}
		.buttons {
			display: flex;
			justify-content: center;
			color: #49718A;
			font-size: 17px;
			p {
				padding-left: 15px;
			}
		}
		.signups-btn {
			display: flex;
			align-items: center;
			padding: 10px 15px;
			transition: 0.4s;
			&:active,
			&:hover {
				color: lighten(black, 50);
				background-color: #F2F3F1;
				border-radius: 2px;
			}
			.blue-dot {
				background-color: #70BFC8;
				border-radius: 50%;
				height: 18px;
				width: 18px;
			}
		}
		.ftd-btn {
			display: flex;
			align-items: center;
			margin-left: 40px;
			padding: 10px 15px;
			transition: 0.4s;
			&:active,
			&:hover {
				color: lighten(black, 50);
				background-color: #F2F3F1;
				border-radius: 2px;
			}
			.orange-dot {
				background-color: #FF9742;
				border-radius: 50%;
				height: 18px;
				width: 18px;
			}
		}
		.earned-btn {
			display: flex;
			align-items: center;
			margin-left: 40px;
			padding: 10px 15px;
			transition: 0.4s;
			&:active,
			&:hover {
				color: lighten(black, 50);
				background-color: #F2F3F1;
				border-radius: 2px;
			}
			.green-dot {
				background-color: #1BBD74;
				border-radius: 50%;
				height: 18px;
				width: 18px;
			}
		}
	}
}
