@import 'layout';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/*sidebar*/

.sidebar {
	background-color: #1F1F1F;
	width: 193px;
	height: 100vh;
	position: fixed;
	color: #7F7F7F;
	.nav-logo {
		display: flex;
		align-items: center;
		padding: 14px 20px;
		i {
			font-size: 20px;
			padding-left: 45px;
			color: #7F7F7F;
		}
	}
	ul {
		font-size: 15px;
		list-style-type: none;
		li {
			display: flex;
			align-items: center;
			padding: 12px 20px;
			transition: 0.4s;
			&:hover {
				border-left: 6px solid #FF7D2D;
				background-color: #2C2C2C;
			}
			&:hover a {
				color: white;
			}
			&:hover img {
				filter: invert(100%);
			}
			img {
				height: 17px;
				width: 17px;
				filter: invert(50%);
			}
			a {
				text-decoration: none;
				color: #7F7F7F;
				display: block;
				padding-left: 10px;
			}
		}
	}
	.line {
		border: 0.5px solid #7F7F7F;
		opacity: 0.2;
		margin-top: 25px;
	}
	.contacts {
		padding: 25px 20px;
		font-size: 14px;
		h4 {
			text-transform: uppercase;
			padding-bottom: 10px;
		}
		.contact-manager {
			display: flex;
			align-items: center;
			p {
				padding-left: 10px;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					color: #49718A;
				}
			}
		}
	}
}

/*top bar*/

.top-bar {
	margin-left: 193px;
	display: flex;
	border-bottom: 0.5px solid #E3E3E3;
	img {
		height: 18px;
		width: 18px;
		filter: invert(50%);
	}
	.funds {
		margin-left: 697px;
		width: 185px;
		display: flex;
		align-items: center;
		border-left: 0.5px solid #E3E3E3;
		color: #9B9B9B;
		padding: 16px;
		p {
			font-size: 20px;
			font-weight: bold;
			padding: 0 15px;
		}
		.top-bar-arrow {
			height: 8px;
		}
	}
	.notification {
		border-left: 0.5px solid #E3E3E3;
		padding: 19px;
	}
	.profile {
		border-left: 0.5px solid #E3E3E3;
		padding: 16px;
		display: flex;
		align-items: center;
		p {
			font-size: 13px;
			color: #49718A;
			padding: 0 0 0 15px;
		}
	}
	.quit {
		border-left: 0.5px solid #E3E3E3;
		padding: 20px;
		display: flex;
		align-items: center;
	}
}
