.sidebar {
	top: 0;
	position: fixed;
	background-color: #1F1F1F;
	width: 193px;
	height: 100vh;
	color: #7F7F7F;
	.nav-logo {
		padding: 14px 20px;
		position: relative;
		i {
			font-size: 20px;
			color: #7F7F7F;
			position: absolute;
			right: 15px;
			top: 20px;
			transition: 0.4s;
			&:hover {
				color: white;
			}
		}
	}
	ul {
		font-size: 15px;
		list-style-type: none;
		li {
			display: flex;
			align-items: center;
			padding: 12px 20px;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				border-left: 6px solid #FF7D2D;
				background-color: #2C2C2C;
			}
			&:hover a {
				color: white;
			}
			&:hover img {
				filter: invert(100%);
			}
			img {
				height: 17px;
				width: 17px;
				filter: invert(50%);
			}
			a {
				width: 100%;
				text-decoration: none;
				color: #7F7F7F;
				padding-left: 10px;
			}
		}
	}
	.line {
		border: 0.5px solid #7F7F7F;
		opacity: 0.2;
		margin-top: 25px;
	}
	.contacts {
		padding: 25px 20px;
		font-size: 14px;
		h4 {
			text-transform: uppercase;
			padding-bottom: 10px;
		}
		.contact-manager {
			display: flex;
			align-items: center;
			p {
				padding-left: 10px;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					color: #49718A;
				}
			}
		}
	}
	.topbar-elements {
		display: none;
	}
}

.hide {
	width: 80px;
}

@media only screen and (max-width: 767px) {
	.show {
		height: 100vh !important;
	}

	.sidebar {
		z-index: 2;
		width: 100%;
		height: auto;
		.menu {
			height: 0;
			overflow: hidden;
			transition: height linear .3s;
			&:hover {
				height: 500px;
			}
			li {
				padding: 12px 50px;
			}
			.contacts {
				display: none;
			}
		}
	}
	.topbar-elements {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 25px 50px;
		img {
			height: 18px;
			width: 18px;
			filter: invert(50%);
		}
		.funds {
			display: flex;
			align-items: center;
			color: #9B9B9B;
			padding: 16px 0;
			cursor: pointer;
			p {
				font-size: 20px;
				font-weight: bold;
				padding: 0 15px;
			}
		}
		.notification {
			display: flex;
			padding: 19px 0;
			cursor: pointer;
			position: relative;
			.notification-dot {
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #FF7D2D;
				position: absolute;
				left: 11px;
				top: 18px;
			}
		}
		.profile {
			padding: 16px 0;
			display: flex;
			align-items: center;
			cursor: pointer;
			p {
				font-size: 13px;
				color: #49718A;
				padding: 0 0 0 15px;
			}
		}
		.quit {
			padding: 19px 0;
			display: flex;
			align-items: center;
			cursor: pointer;
		}
	}
}