.statistic {
	.general-statistic {
		border-bottom: 0.5px solid $border-color;
		h2 {
			text-transform: uppercase;
			font-size: $heading-font-size;
			color: $main-text-color;
			font-weight: $heading-font-weight;
			padding: 13px;
		}
	}
	.date-form {
		padding: 35px;
		border-bottom: 0.5px solid $border-color;
		p {
			font-size: 14px;
			color: $paragraph-color;
		}
		form {
			display: flex;
			justify-content: center;
			.field {
				position: relative;
				img {
					width: 17px;
					position: absolute;
					top: 10px;
					right: 10px;
					filter: invert(50%);
				}
				input[type=text] {
					border: 0.5px solid $border-color;
					border-radius: 3px;
					padding: 10px 15px;
					transition: 0.3s;
					outline: none;
					cursor: pointer;
					color: $paragraph-color;
					&:hover,
					&:focus {
						border-color: #B1B1B1;
					}
				}
				input[name=date-from] {
					width: 150px;
				}
				input[name=date-to] {
					width: 175px;
				}
			}
		}
		.refresh-btn {
			display: flex;
			border-radius: 3px;
			background-color: $btn-color;
			padding: 10px;
			margin-left: 15px;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				background-color: $btn-hover-color;
			}
			img {
				height: 18px;
				width: 18px;
				filter: invert(100%);
			}
		}
	}
	.numbers {
		h3 {
			font-size: $heading-font-size;
			color: $main-text-color;
		}
		p {
			color: $paragraph-color;
			position: absolute;
			right: 0;
			bottom: 5px;
		}
		.signups {
			width: 90%;
			border-bottom: 1px solid $border-color;
			padding: 20px 0 5px 0;
			position: relative;
		}
		.ftd {
			width: 90%;
			border-bottom: 1px solid $border-color;
			padding: 20px 0 5px 0;
			position: relative;
		}
		.deposit {
			float: right;
			width: 90%;
			border-bottom: 1px solid $border-color;
			padding: 20px 0 5px 0;
			position: relative;
		}
		.turn-over {
			float: right;
			width: 90%;
			border-bottom: 1px solid $border-color;
			padding: 20px 0 5px 0;
			position: relative;
		}
	}
	.earnings {
		h2 {
			color: $main-text-color;
			font-size: $heading-font-size;
			padding-top: 70px;
			padding-bottom: 30px;
		}
		.chart-buttons {
			display: flex;
			justify-content: center;
			color: #49718A;
			font-size: $heading-font-size;
			p {
				padding-left: 15px;
			}
		}
		.signups-btn {
			display: flex;
			align-items: center;
			padding: 10px 15px;
			transition: 0.4s;
			cursor: pointer;
			&:hover {
				color: lighten(black, 50);
				background-color: #F2F3F1;
				border-radius: 2px;
			}
			.blue-dot {
				background-color: #70BFC8;
				border-radius: 50%;
				height: 18px;
				width: 18px;
			}
		}
		.ftd-btn {
			display: flex;
			align-items: center;
			margin-left: 40px;
			padding: 10px 15px;
			transition: 0.4s;
			cursor: pointer;
			&:active,
			&:hover {
				color: lighten(black, 50);
				background-color: #F2F3F1;
				border-radius: 2px;
			}
			.orange-dot {
				background-color: #FF9742;
				border-radius: 50%;
				height: 18px;
				width: 18px;
			}
		}
		.earned-btn {
			display: flex;
			align-items: center;
			margin-left: 40px;
			padding: 10px 15px;
			transition: 0.4s;
			cursor: pointer;
			&:active,
			&:hover {
				color: lighten(black, 50);
				background-color: #F2F3F1;
				border-radius: 2px;
			}
			.green-dot {
				background-color: #1BBD74;
				border-radius: 50%;
				height: 18px;
				width: 18px;
			}
		}
	}
	.chart {
		padding: 60px 0 40px;
		text-align: center;
		img {
			padding: 0 10px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.date-form {
		form {
			flex-wrap: wrap;
			.field {
				margin: 0 auto;
				margin-bottom: 5px;
			}
		}
		.refresh-btn {
			width: 39px;
			height: 39px;
			margin: 0 auto !important;
			margin-bottom: 5px;
		}
	}
	.numbers {
		.signups {
			margin: 0 auto;
		}
		.ftd {
			margin: 0 auto;
		}
		.deposit {
			float: none !important;
			margin: 0 auto;
		}
		.turn-over {
			float: none !important;
			margin: 0 auto;
		}
	}
	.chart-buttons {
		display: block !important;
		.ftd-btn {
			margin: 0 !important;
		}
		.earned-btn {
			margin: 0 !important;
		}
	}
}